<script type="text/javascript">
 function selectAll(){
    $("input:checkbox").each(function(){
      $(this).attr('checked', true);
    });

    return false;
  }

  function deselectAll(){
    $("input:checkbox").each(function(){
      $(this).attr('checked', false);
    });

    return false;
  }
</script>
<h1>Share folder to members</h1>
<div class="row">
 <% if(@new_foldersharing.nil?)
       @new_foldersharing= Foldersharing.new
     end %>
     <h3>Choose members to share folder</h3>
     <a href="#" onclick="selectAll()">Select all -</a>
 <a href="#" onclick="deselectAll()">Deselect all</a>
<%= form_for(@new_foldersharing ) do |f| %>
                 <div class="span6">
                 <%= render 'shared/error_messages', object: f.object %>
				<table>
				<%= f.hidden_field :folder_id, :value => params[:folder_id] %>

             <% @users.each do |user|%>
                      <div class="span4">
                        <%
                        select=false
                        Foldersharing.where(:shared_user_id => user.id, :folder_id => params[:folder_id]).each  do |pm|
                            select=true
                        end
                      %>
 						 <%= check_box_tag 'activated[]', user.id,select -%>
                       <%= user.name %> (<%= user.email %>)
                      </div>
                    <%end%>
                  </div>
				</table>
                <div class="span1"></br><%= f.submit 'Share'%></div>
                </div>
                <%end%>
                </div>
                <a href="/folders/<%= params[:folder_id] %>&?user_id=<%=current_user.id%>">Back to Folder</a>
