
<h1>All list files public</h1>
	<table class="table table-hover">
  	<tr>
			<th>File name</th>
			<th>View</th>
			<th>Download</th>
		</tr>
	  <% @filestreams.each do |file|%>
			<tr>
			  <%if file.status==true%>
			  	<%if file.password_protect.blank?%>
						<td><%= Filestream.find(file.id).attach_file_name %></td>
						<td><a href="/filestreams/<%=file.id%>">View file</td>
						<td><%= link_to 'Download', download_public_file_filestream_path(file.id) %></td>
					<%else%>
						 <td><%= Filestream.find(file.id).attach_file_name %><i class="icon-lock"></i></td>
						 <td><a href="/filestreams/<%=file.id%>">Go to download page</a></td>
						 <td><a href="#protect_download-<%=file.id%>" class="inline">Download</a>
							 <div style='display:none'>
								 <div style="padding:10px; background:#fff;" id="protect_download-<%=file.id %>">
									 <%= render 'folders/protect_download', file_id: file.id %>
								 </div>
							 </div>
						 </td>
					<%end%>
				<% end %>
			</tr>
		<% end %>
  </table>
