	<% if @flagSigned == true %>
		<% if !@data.nil? %>
			<b><font size="4"><%= @upload.attach_file_name%></font></b>
			<div class="text_input">
				<%= text_area_tag 'content', @data, :rows => 20, :cols => 40, :class => "area" %>
			</div>
				<a href="/filestreams/<%= @upload.id %>/download_public_file">
					<%= image_tag("download_icon.png", :alt => "download-photo", :size=>"55x65") %>
				</a>
		<%else %>
			<%= image_tag @upload.attach.url %>
			<br></br>
		 	<div style="float:right">
							<a href="/filestreams/<%= @upload.id %>/download_public_file" class="point">
					<%= image_tag("download_icon.png", :alt => "download-photo", :size=>"55x65") %>
				</a>
		<%end%>
	<%end%>

	<% if @flagSignedStatus == true && @flagPass == true%>
		<% if !@data.nil? %>
		<div class="text_input">
			<b><font size="4"><%= @upload.attach_file_name%></font></b>
			<%= text_area_tag 'content', @data,:rows => 20, :cols => 40,:class => "area"%>
		</div>
						<a href="/filestreams/<%= @upload.id %>/download_public_file" class="point">
					<%= image_tag("download_icon.png", :alt => "download-photo", :size=>"55x65") %>
				</a>

		<%else%>
			<%= image_tag @upload.attach.url %>
			<br></br>
	 		<div style="float:right">
								<a href="/filestreams/<%= @upload.id %>/download_public_file" class="point">
					<%= image_tag("download_icon.png", :alt => "download-photo", :size=>"55x65") %>
				</a>
		<%end%>
	<% end %>

	<% if @flagSignedStatus == true && @flagWrongPass == true %>
		<%= form_tag(filestream_path(@upload.id), :id=>"view_form", :method => 'POST') do %>
			<div style="padding:10px">
				<div class="field">
					<p>This file is password protected. Please enter the password here to preview it. </p>
					<input autofocus="autofocus" class="validate[required]" id="password_protect" name="password" type="password" data-prompt-position="bottomRight" placeholder="Enter password"/>
					<%= submit_tag "Unlock File", :class => "btn btn-primary", :id =>"btn_unlock" %>
				</div>
			</div>
		<%end%>
	<%end%>

	<% if @flagNotSigned == true && @flagPass == true%>
		<% if !@data.nil? %>
		<div class="text_input">
			<b><font size="4"><%= @upload.attach_file_name%></font></b>
			<%= text_area_tag 'content', @data,:rows => 20, :cols => 40, :class => "area" %>
		</div>
						<a href="/filestreams/<%= @upload.id %>/download_public_file" class="point">
					<%= image_tag("download_icon.png", :alt => "download-photo", :size=>"55x65") %>
				</a>

		<%else%>
			<%= image_tag @upload.attach.url %>
			<br></br>
 			<div style="float:right">
								<a href="/filestreams/<%= @upload.id %>/download_public_file" class="point">
					<%= image_tag("download_icon.png", :alt => "download-photo", :size=>"55x65") %>
				</a>
		<%end%>
	<%end%>

	<% if @flagNotSigned == true && @flagWrongPass == true%>
		<%= form_tag(filestream_path(@upload.id), :id=>"view_form", :method => 'POST') do %>
		<div style="padding:10px">
			<div class="field">
				<p>This file is password protected. Please enter the password here to preview it. </p>
				<input autofocus="autofocus" class="validate[required]" id="password_protect" name="password" type="password" data-prompt-position="bottomRight" placeholder="Enter password"/>
				<%= submit_tag "Unlock File", :class => "btn btn-primary", :id =>"btn_unlock" %>
			</div>
		</div>
		<%end%>
	<%end%>
	<a onclick="fbs_click()" class="point">
		<%= image_tag("facebook_share.png", :alt => "Share-on-Facebook", :size=>"50x60") %>
	</a>
	<a href="#email_photo" class="inline" style="float:right">
		<%= image_tag("email-icon.png", :alt => "email-photo", :size=>"55x65") %>
	</a>

	<div style='display:none'>
		<div style="padding:10px; background:#fff;" id="email_photo">
			<%= render 'folders/share_many', file_id: params[:id] %>
		</div>
	</div>

<script type="text/javascript">
  $("#password_protect").keyup(function(){ check_submit(this)});
	function check_submit(obj) {
		if ($(obj).val() == "") {
		  $("#btn_unlock").attr("disabled", "disabled");
		} else {
		  $("#btn_unlock").removeAttr("disabled");
		}
	}

	$(function(){
    var ctrlDown = false;
    $('.area').keydown(function(e){
      if (e.keyCode == 17 || e.keyCode == 224) {
        ctrlDown = true;
      }

      if (!ctrlDown || (ctrlDown && (e.keyCode != 67 && e.keyCode != 65))) {
        return false;
      }
    }).keyup(function(e){
      if (e.keyCode == 17 || e.keyCode == 224) {
  	    ctrlDown = false;
      }
    });

    $(".area").linedtextarea(
    {selectedLine: 1}
  );

	});

	function fbs_click() {
		//u=location.href;
		//t=document.title;
		//window.open('http://www.facebook.com/sharer.php?u=' + encodeURIComponent(u) + '&t=' + encodeURIComponent(t), 'sharer', 'toolbar=0,status=0,width=626,height=436');
		//get current location and title to share on Facebook
		window.open('http://www.facebook.com/sharer.php?u=htpp://www.framgia.com','sharer','toolbar=0,status=0,width=626,height=436');
	return false;
		<% if @upload.status == false %>
			<% @upload.status = true%>
  		<% @upload.save! %>
		<% end %>
	}

</script>
<style type="text/css">
	.area{
		margin-top: 1px;
	}
	.text_input{
		margin-top: 7px;
		margin-bottom: 15px;
	}
	.point{
	cursor: pointer;
	float: right;
	}
</style>
