<p id="notice"><%= notice %></p>
<h1>User Information</h1>
<p>
  <b>Avatar:</b>
  <% if @current_user.avatar.url.include? "missing.png" %>
   <%= image_tag("default_avatar.gif")  %>
  <%else%>
    <%= image_tag @current_user.avatar.url(:medium) %>
  <%end%>
</p>
  <b>Name:</b>
  <%= @current_user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @current_user.email %>
</p>
<p>
	<b>List folders: </b><br/>

	<% @current_user.folders.each do |folder|%>
		<% if Folder.where(:user_id => current_user, :id => folder.id).exists? %>
			<a href="/folders/<%=folder.id%>"><%= folder.name%></a><br/>
		<% end %>
	<% end %>
</p>

<p>
	<% @lists = Foldersharing.where(:shared_user_id => current_user) %>
	<b>List folders are shared by other members : </b><br/>
	<table class="table table-hover">

		<tr>
			<th>Folder name</th>
			<th>Share by</th>
			<th>Time</th>
		</tr>
		<% @lists.each do |list|%>
		<tr>
		<td><a href="/folders/<%=list.folder_id%>"><%= Folder.find(list.folder_id).name %></a></td>
		<td><%=User.find(Folder.find(list.folder_id).user_id).name%> (<%=User.find(Folder.find(list.folder_id).user_id).email%>)</td>
		<td><%= Foldersharing.find(list.id).created_at.strftime("%m/%d/%Y") %></td>
		</tr>
	<% end %>
		</table>
</p>	<br/>
<p><b>List files are shared by others members: </b><br/>

	<table class="table table-hover">
		<tr>
			<th>File name</th>
			<th>View file (image only)</th>
			<th>Download</th>
			<th>Share by</th>
			<th>Time</th>
		</tr>
	 	  <% listFiles = Filesharing.where(:shared_user_id => current_user) %>
		  <% listFiles.each do |file|%>
				<td><%= Filestream.find(file.file_id).attach_file_name %></td>
				<% if Filestream.find(file.file_id).attach_content_type.include? "image"%>
				 <td>
					<span><a href="#previewModal-<%=file.file_id%>" data-toggle="modal"><%= image_tag("preview.jpeg",:size => "30x30", alt: "Preview") %></a></span>
				</td>
				<div id="previewModal-<%=file.file_id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true" data>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="previewModalLabel"><%=Filestream.find(file.file_id).attach_file_name%></h3>
					</div>
					<div id="myCarousel" class="carousel slide">
					  	<ol class="carousel-indicators">


					<li data-target="#previewModal" data-slide-to="0" class="active">
<div class="modal-body">

							<%= image_tag Filestream.find(file.file_id).attach.url %>
						</div></li>


				</ol>
				 <div class="carousel-inner">
<div class="active item">…</div>
<div class="item">…</div>
<div class="item">…</div>
</div>


				</div>
				<div class="modal-footer">
						<button type="button" class="btn btn-large" onClick="location.href='/filestreams/<%=file.file_id%>/download'"><i class="icon-download icon-white"></i>Download</button>
					</div>
				</div>
				<%else%>
					<td></td>
				<%end%>
			<td><%= link_to 'Download', download_filestream_path(file.file_id) %></td>
			<td><%= User.find(Folder.find(Filestream.find(file.file_id).folder_id).user_id).name %> (<%= User.find(Folder.find(Filestream.find(file.file_id).folder_id).user_id).email %>)</td>
				<td><%= Filesharing.find_by_file_id(file.file_id).created_at.strftime("%m/%d/%Y") %></td>
		<tr>
		</tr>
		<% end %>
	</table>
</p>



<br/><br/><br/><br/>
<%= link_to 'Edit', edit_user_path(current_user) %> |
<%= link_to 'Back', users_path %>
| <a href="/folders">Create folder</a>


<script>
   $.modal(data,
    {
      minWidth: 400,
      onShow: function(dialog){
        dialog.container.css({"height":"auto","width":"auto"});
      }
    });
</script>
