
<legend>Users</legend>

  <table class="datatable table table-bordered table-condensed" style="width: 884px;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Requested</th>
        <th>Invitation</th>
        <th>Joined</th>
        <th>Visits</th>
        <th>Most Recent</th>
        <th>Delete</th>
        <th>Edit role</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name%></td>
          <td><%= user.email%></td>
          <td><%= user.created_at.to_date %></td>
          <td><%= (user.confirmation_token.nil? ? (link_to "send invitation", invite_user_path(user)) : (link_to "resend", invite_user_path(user))) unless user.confirmed_at %></td>
          <td><%= user.confirmed_at.to_date if user.confirmed_at %></td>
          <td><%= user.sign_in_count if user.sign_in_count %></td>
          <td><%= user.last_sign_in_at.to_date if user.last_sign_in_at %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td>
            Role
          </td>

        </tr>
        <tr>
        </tr>
      <% end %>
    </tbody>
  </table>




