<!-- list user -->
<div class="span11">
  <legend style="margin-top:30px">List all user</legend>
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="2" text-align="center">Action</th>

    </tr>
    <% if !@users.nil? %>

      <% @users.each do |us| %>
        <tr>
          <td><%= us.name %></td>
          <td><%= us.email %></td>
          <td>
            <a href="/users/<%= us.id%>/update_role">Update info</a>

          </td>
          <td>

            <%= link_to "Destroy", user_path(us.id), :data => { :confirm => "Are you sure?" }, :method => :delete %>
          </td>
          <td></td>
        </tr>
      <% end %>
      <%= will_paginate%>
    <%end  %>
  </table>
</div>

<!--ket thuc-->