<p id="notice"><%= notice %></p>
<h1>User Information</h1>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
	<b>List folders: </b><br/>

	<% @user.folders.each do |folder|%>
		<% if Foldersharing.where(:shared_user_id => current_user ).exists? || Folder.where(:user_id => current_user).exists? %>
		<a href="/folders/<%=folder.id%>&?user_id=<%=@user.id%>"><%= folder.name%></a><br/>
		<% end %>
	<% end %>
</p>
<% if current_user.id == params[:id].to_i %>
<p>
<b>List folders are shared by other members : </b><br/>
    <% @lists = Foldersharing.where(:shared_user_id => current_user) %>
    <% @lists.each do |list|%>
    	<a href="/folders/<%=list.folder_id%>"><%= Folder.find(list.folder_id).name %></a></br>
    <% end %>
</p>
<% end %>
<% if current_user.id == params[:id].to_i %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>

<% if current_user.id == params[:id].to_i %>
| <a href="/folders/?user_id=<%= @user.id%>">Create folder</a>
<% end %>
