<% provide(:title, @fileupload.attach_file_name)%>

<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">+Share</a>
  <!-- Modal -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Share file <%=@fileupload.attach_file_name%></h3>
        </div>
        <div class="modal-body">
           <p>
              <%= form_tag :controller=>'file_shares',:acttion=>'create',:id_file_up_load=>@fileupload.id,:method => 'post' do %>
                  <%=label_tag 'email','Email Address :'%>
                  <%= text_field_tag 'email',params[:email]%>
           </p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="sharefile" class="btn btn-primary">Share File</button>
        </div>
        <%end%>
   </div>
<div id="container_file_show">
	<% if @fileupload.attach_content_type.include? "image"%>
			<p>
				<span><%=@fileupload.attach_file_name%>				</span>
				<span><%= link_to image_tag("btndown.png", alt: "Download"), download_file_up_load_path(@fileupload.id) %></span>
			</p>
			<div id="img_file">
				<%= image_tag @fileupload.attach.url %>
			</div>
	<%else%>
		<div id="otherfile">
				
			<%= link_to download_file_up_load_path(@fileupload.id) do %>
				<p>
					<span>Download (<%=@fileupload.attach_file_size%> byte)</span>
					<span>File name: <%=@fileupload.attach_file_name%>	</span>
				</p>
			<%end%>
				
		</div>
	<%end%>
</div>

