<p id="notice"><%= notice %></p>
<%if @category.folders.blank?%>
  <h3>These is Files not contain in this category</h3>
<%else%>
  <h3>These is Files contain in this category</h3>
<%end%>
<table class="table table-bordered">
  <tr>
    <th><%= t :name %></th>
    <th><%= t :description %></th>
    <th colspan="2" style="text-align:center"><%= t('Name folder') %></th>
  </tr>

  <tr>
    <td style="font-size: 13px; font-family:arial;"><%= @category.name %></td>
    <td style="font-size: 13px; font-family:arial;"><%= @category.description %></td>
    <% @category.folders.each do |f| %>
      <td style="font-size: 13px; font-family:arial;"><%= link_to f.name, {:action=>'show',:controller=>'folders',:id=>f.id},{:method=>'get'} %></td>
    <% end %>
  </tr>

</table>

<%= link_to 'Back', categories_path %>
