<!--form tao moi-->
<div class="row" style="margin-top:30px;">
  <div class ="span13">
    <legend><%= t('Create or Edit role')%></legend>
    <% if @role.nil?
      @role = Role.new
    end
  %>
    <%= simple_form_for(@role) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name %>
      </div>

      <div class="form-actions1">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div></div>
<!-- ket thuc-->

<legend style="margin-top: 30px;">List role in system</legend>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th colspan="3" style="text-align:center">Action</th>
  </tr>

  <% @roles.each do |role| %>
    <tr>
      <td><%= role.name %></td>
      <td><%= link_to 'Create',new_role_path %></td>
      <td><%= link_to 'Edit', edit_role_path(role) %></td>
      <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <%= will_paginate%>
  <% end %>

</table>

<br />


