<% provide(:title, @category.name)%>
<h1 style="color:blue">Edit Category Detail</h1>

<%= form_for(@category) do |f| %>
<%if @category.errors.any?%>
   <h3 style="color:red">Errors:</h3>
    <ul style="color:red">
     <% @category.errors.full_messages.each do|message|%>
 
   	<%= message%>
   	<%end%>
   </ul>
   <%end%>

<table  width ="400px">
<tr>
<td style="color:blue"> <%= f.label :name  %></td>
</tr>
<tr>
<td>  <%= f.text_field :name %></td>
</tr>

<tr>
	<td style="color:blue"><%= f.label :description %></td>
</tr>
<tr>
	 <td><%= f.text_area :description,:cols => 20, :rows => 10 %></td>
</tr>
</table>

<p>
<%= f.submit "Save change"%>
</p>
<%end%>
<p>
<%=link_to 'Back',categories_path %>
</p>