<h1>Categories management</h1>

<%= form_tag search_categories_path, :method => :get do %>
<p>
  <%= text_field_tag :query, params[:query] %> <%= submit_tag "Search!" %>
</p>
<% end %>



	<div class="row">
		<%
		  if(@new_category.nil?)
		    @new_category= Category.new
		  end
		%>
		<%= form_for(@new_category) do |f| %>
			<div class="span7">
				<h2>New category</h2>
					<%= render 'shared/error_messages', object: f.object %>
					<%= render 'categories',st: @new_category , f: f%>
					<div class="span4">
						</br>
							<%= f.submit%>
						</div>
		  </div>
		<%end%>
	</div>

	<div class="span8">
		<table class="table table-hover">
			<br/>
		  <tr>
				<th>Name</th>
				<th>Description </th>
				<th>Show Details</th>
				<th> Edit </th>
				<!-- If use admin function
				<% if current_user.admin?%>
				 <th>Delete </th>
				  <%end%>
				  -->
			</tr>
		  <% @categories.each do |category|%>
				<%if !@categories.nil? %>
					<tr>
						<td><%= category.name %> </td>
						<td><%= category.description %></td>
						<td><a href="/categories/<%=category.id%>">Show</a></td>
						<td><%= link_to 'Edit', edit_category_path(category) %></td>
						<!-- If use admin function
					 <% if current_user.admin?%>
						<td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
						   <%end%>
						   -->
					</tr>
		    <% end %>
		  <% end %>
		</table>
		<a href="/folders/?user_id=<%=current_user.id%>">Create folder</a>
	</div>
</div>
