
<<<<<<< HEAD
<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.description  %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
=======

<!--form tao moi-->
<div class="row">
  <div class ="span13">
    <legend><%= t('Create or Edit category')%></legend>
    <% if @category.nil?
      @category = Category.new
    end
  %>
    <%= simple_form_for(@category) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name %>
      </div>

      <div class="form-inputs">
        <%= f.input :description %>
      </div>

      <div class="form-actions1">
        <%= f.button :submit, :class =>'btn-primary' %>
      </div>
    <% end %>
  </div></div>
<!-- ket thuc-->

<legend>List category</legend>

<table class="table table-bordered" >
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th colspan="2" style="text-align:center">Action</th>
  </tr>

  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td><%= link_to 'Show', category %></td>
      <td><%= link_to 'Edit', edit_category_path(category) %></td>
      <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>

  <% end %>

</table>
>>>>>>> 5d4f7fcf23a550ee59b66718ef1e60be91c834bb
