

<!--form tao moi-->
<div class="row">
  <div class ="span13">
    <h1><%= t('Create or Edit category')%></h1>
    <% if @category.nil?
      @category = Category.new
    end
  %>

    <%= form_for @category do |f| %>

      <div>
        Name: <%= f.text_field :name, :class => "text_input" %>
      </div>

      <div>
        <p> Description:</p>
        <%= f.text_area :description, :cols => "20", :rows => "3" %>
      </div>

      <%= f.hidden_field :user_id, :value => current_user.id %>

      <div>

        <%= f.submit t(:save) %>
      </div>
    <% end %>
  </div></div>
<!-- ket thuc-->

<h1>List category</h1>

<table class="table table-bordered">
  <tr>
    <th><%=  t :name %></th>
    <th><%=  t :description %></th>
    <th><%= t("Author's") %></th>
    <th colspan="2" style="text-align:center;">Action</th>
  </tr>

  <% @categories.each do |category| %>
    <tr class="<%= cycle('even','odd') %>">
      <td style="font-size: 13px; font-family:arial;"><%= category.name %></td>
      <td style="font-size: 13px; font-family:arial;"><%= category.description %></td>

      <td style="font-size: 13px; font-family:arial;">

        <%=  User.find(:all, :select => "users.name", :joins =>("INNER JOIN categories on categories.user_id = users.id "),:conditions => { :categories => { :id => category.id }}).map(&:name).first%>

      </td>

      <td style="font-size: 13px; font-family:arial;"><%= link_to 'Show', category %></td>
      <td style="font-size: 13px; font-family:arial;"><%= link_to 'Edit', edit_category_path(category) %></td>
      <td style="font-size: 13px; font-family:arial;"><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    
  <% end %>

</table>
