<h1>Category details</h1>
	<table class="table table-hover">
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><%= @category.name %></td>
			<td><%= @category.description %></td>
		</tr>
  </table>
	<b>
		<p>List folders</p>
	</b>
	<% if !@folders.nil? %>
		<% @folders.each do |a| %>
			<a href="/folders/<%=a.id%>&?user_id=<%=a.user_id%>"><%= a.name %></a>
			<br/>
  	<%end%>
	<%end%>
