<p id="notice"><%= notice %></p>
<%if @category.folders.blank?%>
<h1>These is Files not contian in this category</h1>
<%else%>
<h1>These is Files contian in this category</h1>

<% @category.folders.each do |f|%>

<%= link_to f.name, {:action=>'show',:controller=>'folders',:id=>f.id},{:method=>'get'}%>
</br>
<% end %>
<% end %>
<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @category.description %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
