<div class="listUser">
	<table class="tb-lst", border="1">
	  <tr align="center">
	   
	    <th>File_Id</th>
	    <th>File Name</th>
	    <th>File Type</th>
	    <th>File Size(Bytes)</th> 
	    <th>Date Created</th>
	    <th></th>
	    <th></th>
	  </tr>
	<% @files.each do |f| %>
	  <tr align="center">
	    <td><%= f.id %></td>
	    <td><%= f.attach_file_name %></td>
	    <td><%= f.attach_content_type %></td>
	    <td><%= f.attach_file_size %></td>
	    <td><%= f.created_at %></td>
	    <td><%= link_to image_tag("download.png", alt: "download"),file_up_load_path(f.id)%></td>
	    <td> <%= link_to image_tag("del.png", alt: "delete"), f, method: :delete,
                                    data: { confirm: "You sure?" } %></td>	  
	    <%end%>
	  </tr>
	</table>
</div>

