
    	<div class="span2">
		<%= f.label :name %></div>
    	<div class="span3"><%= f.text_field :name %></div>
        <div class="span2">
    	<%= f.label :description %></div>
    	<div class="span3"><%= f.text_area :description , :size => "20x4" %></div>
    	 <div class="span2">
    	<%= f.label :category_id %></div>
    	<div class="span3">
    	<% if params[:action] == "edit" %>
    		<% if Folder.find(params[:id]).parentID.nil? %>
    			<%= f.collection_select :category_id, Category.all, :id,:name, {prompt: true }%>
    		<% else %>
    			<%= f.collection_select :category_id, Category.where(:id => Folder.find(Folder.find(params[:id]).parentID).category_id), :id,:name,{}, {:disabled => true} %>
    		<% end %>
    	<% else %>
				<%= f.collection_select :category_id, Category.all, :id,:name, {prompt: true }%>
    	<%end%>

    	</div>
        <%= f.hidden_field :user_id, :value=> current_user.id %>
		</br>
