		<div class="span2">
		<%= f.label :name %></div>

    	<div class="span3"><%= f.text_field :name %></div>

        <div class="span2">
    	<%= f.label :description %></div>
    	<div class="span3"><%= f.text_area :description , :size => "20x4" %></div>
    	 <div class="span2">
    	<%= f.label :category_id %></div>
    	<div class="span3"> <%= f.collection_select :category_id, Category.all, :id,:name, {prompt: true }%></div>
        <%= f.hidden_field :user_id, :value=> params[:user_id] %>
		</br>
