<%= form_for(@folder) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% @folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.collection_select(:category_id,Category.all,:id,:name)%>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :description , :accept=> "image/*"%>
    
    
  </div>

  <div class="actions">
<<<<<<< HEAD
    <%= f.submit %>
=======
    <%= f.submit 'Create Folder' %>
>>>>>>> 5d4f7fcf23a550ee59b66718ef1e60be91c834bb
  </div>
<% end %>
