<%= form_tag('/filestreams/password_protect', :id =>'password_form') do %>
  <div class="field">
    <%= label_tag :password_protect %>
	<%= password_field_tag :password_protect, params[:password_protect], :autofocus => true, :autocomplete => 'off', :placeholder => 'Enter a new password' %>
  </div>
  <div class="actions">
<%= button_tag "Save", :name => "save", :id => "btn_password", :class => "btn btn-primary" %>
<%= button_tag "Remove Password", :id => "btn_remove", :class => "btn btn-danger"%>
  </div>
  <%= hidden_field_tag :file_id, file_id %>
<% end %>
