<%= form_tag('/filestreams/facebook', :id =>'facebook_form', :method => 'POST') do %>
	<div class="tab-pane" id="email">
		<%= label_tag 'Receiver:'%>
		<br></br>
		<input id="receiver_email" class="validate[required,custom[email]]" type="text" name="receiver_email" data-prompt-position="topLeft">
		<%= label_tag 'Message:'%>
		<textarea id="message" class="validate[required]" name="message" data-prompt-position="topLeft"></textarea>
		<%= submit_tag "Send", :class => "btn btn-primary"%>
	</div>
	<%= hidden_field_tag 'file_id', file_id%>
<%end%>
