<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<br/>
	</br>

	<table class="table table-hover" style="width: 700px;">
		<tr>
			<th><%= sortable "attach_file_name", "File Name"%></th>
			<th><%= sortable "attach_file_size", "File Size"%></th>
			<th><%= sortable "created_at", "Created Date"%></th>
			<th>Preview</th>
			<th>Download</th>
			<th><%= sortable "download_count", "Count Download"%></th>
			<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? || signed_in? %>
			<th>Status</th>
			<%end%>
			<%= form_tag(:controller => 'filestreams', :action => 'multiple_delete') do %>
				<%= hidden_field_tag :fID, @folder.id %>
				<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
					<th>Delete</th>
				<%end%>

			<th><input type="checkbox" onClick="call()" id="chk0"></th>
			<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
				<th><%= submit_tag "Delete", :confirm => "Are you sure?" %></th>
			<%end%>
			<th><%= submit_tag "Download"%></th>

			<th>Share file</th>
			<th>Security file</th>
		</tr>
	<% @uploads.each do |filestream|%>
		<tr>
			<td><% if filestream.password_protect !=nil%><%= filestream.attach_file_name %><i class="icon-lock"></i>
				<%else%><%= filestream.attach_file_name %>
				<%end%>
				
			</td>
			<td><span><%= number_to_human_size(filestream.attach_file_size) %></span></td>
			<td><%= filestream.created_at.strftime("%m/%d/%Y") %></td>
			<% if filestream.attach_content_type.include? "image"%>
				<td>
					<span>

						<% if !filestream.password_protect.nil?%>
						<a href="#inline_preview-<%=filestream.id%>" class="inline">Unlocked</a></a>
						<%else%>
<a href="#previewModal-<%=filestream.id%>" data-toggle="modal"><%= image_tag("preview.jpeg",:size => "30x30", alt: "Preview") %></a>
<%end%>
					</span>
					<div id="previewModal-<%=filestream.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true" data>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="previewModalLabel"><%=filestream.attach_file_name%></h3>
					</div>
					<div id="myCarousel" class="carousel slide">
					  	<ol class="carousel-indicators">


					<li data-target="#previewModal" data-slide-to="0" class="active">
<div class="modal-body">

							<%= image_tag filestream.attach.url %>
						</div></li>
				</ol>
				 <div class="carousel-inner">
<div class="active item">…</div>
<div class="item">…</div>
<div class="item">…</div>
</div>
				</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-large" onClick="location.href='/filestreams/<%=filestream.id%>/download'"><i class="icon-download icon-white"></i>Download</button>
					</div>
				</div>
			</td>
			<%else%>
				<td></td>
			<%end%>
		<td><button type="button" onClick="location.href='/filestreams/<%= filestream.id%>/download'">Download</button></td>
		<td style="text-align: center;"> <%= filestream.download_count%></td>
			<%if signed_in? %>
			<% if filestream.status == true  %>
				<td>
					<a href="/filestreams/<%=filestream.id%>/accept?status=<%=filestream.status%>">Public</a>
				</td>
      <%else%>
     		<td>
     			<a href="/filestreams/<%=filestream.id%>/accept?status=<%=filestream.status%>">Private</a>
     		</td>
     <%end%><%end%>
		<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>

		<td><%= link_to 'Delete',delete_from_folder_filestream_path(filestream.id), data:{ confirm: "Are you sure?" } %></td>
			<%end%>
			<td><%= check_box_tag 'check[]', filestream.id, false, class: "chk"%></td>
		
			<td></td><td></td>
		

		<td><a href="#inline_content-<%=filestream.id%>" class="inline">Share...</a></td>
		<td><li id="fat-menu" class="dropdown" style="list-style: none;">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= image_tag("keys.png",:size => "25x35") %>
              </a>
                <ul class="dropdown-menu" style="margin-left: -100px;">
                   <li><a href="#inline_password-<%=filestream.id%>" class="inline" >Password Protect</a></li>
                </ul>
            </li>
           
		</td>
		<%end%>
	<%end%>
				<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
					<% @uploads.each do |filestream|%>
						<div style='display:none'>
							<div style="padding:10px; background:#fff;" id="inline_content-<%=filestream.id %>">
								<%= render 'file_share', file_id: filestream.id %>
							</div></div>
        	<%end%>
       	<%end%>
       	<td>
			
       	 <% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
					<% @uploads.each do |filestream|%>
						<div style='display:none'>
							<div style="padding:10px; background:#fff;" id="inline_password-<%=filestream.id %>">
								<%= render 'password_protect', file_id: filestream.id %>
							</div></div>
        	<%end%>	<%end%>
        	<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
					<% @uploads.each do |filestream|%>
						<div style='display:none'>
							<div style="padding:10px; background:#fff;" id="inline_preview-<%=filestream.id %>">
								<%= render 'preview_password', file_id: filestream.id %>
							</div></div>
        	<%end%>	<%end%>
	<tr>
</table>
