<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<br/>
	<table class="table table-hover">
		<tr>
			<th><%= sortable "attach_file_name", "File Name"%></th>
			<th><%= sortable "attach_file_size", "File Size"%></th>
			<th><%= sortable "created_at", "Created Date"%></th>
			<th>Preview</th>
			<th>Download</th>
			<th><%= sortable "download_count", "Count Download"%></th>
			<%= form_tag(:controller => 'filestreams', :action => 'multiple_delete') do %>
				<%= hidden_field_tag :fID, @folder.id %>
				<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
					<th>Delete</th>
					<th><%= submit_tag "Delete", :confirm => "Are you sure?" %></th>
				<%end%>
			<th><%= submit_tag "Download"%></th>
			<th><input type="checkbox" onClick="call()" id="chk0"></th>
			<th>Share file</th>
		</tr>
	<% @uploads.each do |filestream|%>
		<tr>
			<td><%= filestream.attach_file_name %></td>
			<td><span><%= number_to_human_size(filestream.attach_file_size) %></span></td>
			<td><%= filestream.created_at.strftime("%m/%d/%Y") %></td>
			<% if filestream.attach_content_type.include? "image"%>
				<td>
					<span><a href="#previewModal-<%=filestream.id%>" data-toggle="modal"><%= image_tag("preview.jpeg",:size => "30x30", alt: "Preview") %></a></span>
					<div id="previewModal-<%=filestream.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true" data>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="previewModalLabel"><%=filestream.attach_file_name%></h3>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-large" onClick="location.href='/filestreams/<%=filestream.id%>/download'"><i class="icon-download icon-white"></i>Download</button>
					</div>
				</div>
			</td>
			<%else%>
				<td></td>
			<%end%>
		<td><button type="button" onClick="location.href='/filestreams/<%= filestream.id%>/download'">Download</button></td>
		<td style="text-align: center;"> <%= filestream.download_count%></td>
		<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
		<td><%= link_to 'Delete',delete_from_folder_filestream_path(filestream.id), data:{ confirm: "Are you sure?" } %></td>
			<%end%>
		<td></td><td></td>
		<td><%= check_box_tag 'check[]', filestream.id, false, class: "chk"%></td>
		<td><a href="#inline_content-<%=filestream.id%>" class="inline">File share</a>
		<%end%>
	<%end%>

				<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
					<% @uploads.each do |filestream|%>
						<div style='display:none'>
							<div style="padding:10px; background:#fff;" id="inline_content-<%=filestream.id %>">
								<%= render 'file_share', file_id: filestream.id %>
							</div>
						</div>
					</td>
					<%end%>
				<%end%>


	<tr>
	</table>
