<h1>Folder child</h1>
<div class="row">
	<%= form_tag(:action => "create_child") do %>
    <div class="span7">
  		<h2>New Folderchild</h2>

  		<br/>
  		<div class="span2">
			<%= label_tag 'name' %></div>
    	<div class="span3"><%= text_field_tag 'name' %></div>
        <div class="span2">
    	<%= label_tag 'description' %></div>
    	<div class="span3"><%= text_area_tag 'description'  %></div>
        <%= hidden_field_tag :parentID, params[:id] %>
        <%= hidden_field_tag :category_id, Folder.where(:id=>params[:id]).first.category_id %>
        <%= hidden_field_tag :user_id, Folder.where(:id=>params[:id]).first.user_id %>
		</br>
  		<div class="span5"><center></br><%= submit_tag nil,:class => "btn  btn-primary"%></center></div>
  	</div>

  <%end%>

   <div class="span8">
		<table class="table table-hover">
		  <br/>
				<tr>
				  <th>Name</th>
				  <th>Description </th>
				  <th>Show details</th>
				  <th>Edit</th>
				  <th>Delete </th>
				</tr>
				<%if !Folder.where(:parentID => params[:id]).nil? %>
					<% Folder.where(:parentID => params[:id]).each do |tree|%>
			 		  <tr>
				  		<td><%= tree.name %> </td>
							<td><%= tree.description %></td>
							<td><a href="/folders/<%=tree.id%>">Show</a></td>
							<td><a href="/folders/<%=tree.id%>/edit">Edit</a></td>
							<td><%= link_to 'Delete', tree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
				<% end %>
			<% end %>
		</table>
	</div>
</div>
