<h1>Folders management</h1>
<%= form_tag folders_path, :method => 'get', :id => "search_folder" do %>
  <p class="span2">
    
    <label style="float:left;">Name </label>

        <%= text_field_tag :search, params[:search], class: "tf-search" %>
    <%= submit_tag "Search", :name => nil , class: "btn  btn-primary" %>
  </p>
<% end %>

<br></br><br></br>

<div class="row">
 <% if(@new_folder.nil?)
       @new_folder= Folder.new
     end %>
<%= form_for(@new_folder ) do |f| %>
                 <div class="span6">
                <h2>New Folder</h2>
                 <%= render 'shared/error_messages', object: f.object %>
                <%= render 'folder',st: @new_folder , f: f%>

                <div class="span1"></br><%= f.submit%></div>
                </div>
                <%end%>
                </div>


                 <div class="span8">

        <table class="table table-hover">
        		<br/>
                <tr>
                    <th>Name</th>
                    <th>Description </th>
                    <th>Show details</th>
                    <th> Edit </th>
                    <th>Delete </th>
                </tr>
                <%if !@search_folder.nil? %>
                <% @search_folder.each do |folder|%>

                 
                <tr>
		              <td><%= folder.name %> </td>
		              <td><%= folder.description %></td>
		              <td><a href="/folders/<%=folder.id%>&?user_id=<%=folder.user_id%>">Show</a></td>
		              <td><a href="/folders/<%=folder.id%>/edit/?user_id=<%=folder.user_id%>">Edit</a></td>
		              <td><%= link_to 'Delete', folder, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
                </tr>
                <% end %>
                <% end %>

        </table>
</div>
</div>

<style type="text/css">
input.tf-search{
    width: 200px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
p.span2{
    width: 400px;
  
}
</style>