<h1>Folder details</h1>
<div class="row">
<div class="span9">
	<table class="table table-hover">

		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Category</th>
			<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
			<th>Upload</th>
			<%end%>

		</tr>
		<tr>
			<td><%= @folder.name %></td>
			<td><%= @folder.description %></td>
			<td><%= Category.where(:id => @folder.category_id).first.name %></td>
			<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
			<td><a href="/filestreams/?folder_id=<%=@folder.id%>">Upload file</a></td>
			<%end%>

		<tr>

			<th><%= sortable "attach_file_name", "File Name"%></th>
			<th><%= sortable "attach_file_size", "File Size"%></th>
			<th><%= sortable "created_at", "Created Date"%></th>

			<th>Preview</th>
			<th>Download</th>

			<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
			<th>Share file</th>
			<th>Delete</th>
			<%end%>

		</tr>
<% @file.each do |filestream|%>
		<tr>
			<td><%= filestream.attach_file_name %></td>
			<td><span><%= number_to_human_size(filestream.attach_file_size) %></span></td>

			<td><%= filestream.created_at.strftime("%m/%d/%Y") %></td>
			<% if filestream.attach_content_type.include? "image"%>
				<td>
					<span><a href="/filestreams/<%=filestream.id%>"><%= image_tag("priview.jpeg",:size => "30x30", alt: "Preview") %></a></span>
				</td>
			<%else%>
			<td></td>
			<%end%>
			<td><%= link_to 'Download', download_filestream_path(filestream.id) %></td>
			<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
			<%= form_for(Filesharing.new) do |f| %>
			<%= f.hidden_field :file_id, :value => filestream.id %>
			<td><a href="#myModal" role="button" class="btn btn-small" data-toggle="modal">Share...</a></td>
			<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">List members</h3>
  </div>
  <div class="modal-body">
    <p><%= render 'file_share' %></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
   <%= f.submit 'Save changes', class: "btn btn-primary"%>
  </div>
</div>
<%end%>
			<td><%= link_to 'Delete',delete_from_folder_filestream_path(filestream.id), data:{ confirm: "Are you sure?" } %></td>
			<%end%>
			<% end %>
		</tr>
		</tr>
	</table>
<%= will_paginate @file %>
 <%= hidden_field_tag :page, :value => params[:page] %>
<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
<p><a href="/foldersharings/?folder_id=<%=@folder.id%>">Share folder to members</a></p>
<P><a href="/folders/?user_id=<%=current_user.id.to_s%>">Go to Folders</a></p>
<%end%>
</div>
</div>
