<h1>Folder details</h1>
<div class="row">
<div class="span9">
<table class="table table-hover">

<tr>
<th>Name</th>
<th>Description</th>
<th>Category</th>
<th>Upload</th>

</tr>
<tr>
<td><%= @folder.name %></td>
<td><%= @folder.description %></td>
<td><%= Category.where(:id => @folder.category_id).first.name %></td>
<% if Foldersharing.where(:shared_user_id => current_user, :folder_id => params[:id]).exists? %>
<td>N/A</td>
<%end%>
<% if Folder.where(:user_id => current_user).exists? %>
<td><a href="/filestreams/?folder_id=<%=@folder.id%>">Upload file</a></td>
<%end%>

<tr>
<th>File Name</th>
<th>Download</th>
<th>Delete</th>
</tr>
<% @folder.filestreams.each do |filestream|%>
<tr>
<td><%= filestream.attach_file_name %></td>
<td><%= link_to 'Download', download_filestream_path(filestream.id) %></td>
<td><%= link_to 'Delete',filestream, method: :delete, data:{ confirm: "Are you sure?" } %></td>
<% end %>
</tr>
</tr>
</table>
<% if Folder.where(:user_id => current_user).exists? %>
<p><a href="/foldersharings/?folder_id=<%=@folder.id%>">Share folder to members</a></p>
<%end%>
</div>
</div>
