<legend style="color:green"><%= @folder.name%></legend>

<p>Category:<%= link_to @folder.category.name ,{:action=>'show',:controller=>'categories',:id=>@folder.category.id} %></br>
</p>
<p>Description:
  <%=@folder.description%>
</p>

<p><%= link_to 'Upload file',{:controller => 'uploads',:action => 'new',:id => @folder.id},:class => 'btn btn-primary start' %></p>

<legend>List file in folder.</legend>

<table class="table table-bordered" >
  <tr>
    <th>File id</th>
    <th>File name</th>
    <th>File type</th>
    <th>File size</th>
    <th>Image</th>
    <th colspan="2" style="text-align:center">Action</th>
  </tr>

  <% @folder.uploads.each do |f| %>
    <tr>
      <td><%= f.id %></td>
      <td><%= f.upload_file_name %></td>
      <td><%= f.upload_content_type %></td>
      <td><%= f.upload_file_size %></td>
      
      <!-- <td><%= image_tag f.upload.url(:original) %></td> -->
      <td><image src="<%= f.upload.url(:original) %>" width="100" hight="50"></td>

      <td><%= link_to 'Download',download_upload_path(f.id) %></td>
      <td><%= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Share',new_upload_sharefile_path(f) %></td>


    </tr>
<!-- <%= will_paginate @pages %> -->
  <% end %>

</table>

<p>
<%=link_to 'Back',{:action=>'index'}%>
</p>
