<script type="text/javascript">
  function call(){
     var x = document.getElementById("chk0").checked;
		if (x==true){
			$(".chk").attr('checked',true);
		}
		else{
			$(".chk").attr('checked',false);
		}
}
</script>


<h1>Folder details</h1>

<%= form_tag folder_path(@folder), :method => 'get',:id => "search_folder" do %>
  <p class="span2">
    <label style="float:left;">Files Name </label>
    <%= text_field_tag :search, params[:search], class: "tf-search" %>
    <%= submit_tag "Search", :attach_file_name => nil , class: "btn  btn-primary" %>
  </p>
<% end %>

	<br></br><br></br>
	<div class="row">
<%= form_tag(:controller => 'filestreams', :action => 'multiple_delete') do %>
	<%= hidden_field_tag :fID, @folder.id %>


<div id="searchajax">
<%= render 'show'%>
</div>

	<%= will_paginate @uploads %>

 <%= hidden_field_tag :page, :value => params[:page] %>
	<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
		<p><a href="/foldersharings/?folder_id=<%=@folder.id%>">Share folder to members</a></p>
		<P><a href="/folders">Go to Folders</a></p>
	<%end%>
<%end%>




<style type="text/css">
input.tf-search{
    width: 200px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
p.span2{
    width: 400px;

}
</style>


<script>
   $.modal(data,
    {
      minWidth: 800,
      onShow: function(dialog){
        dialog.container.css({"height":"auto","width":"auto"});
      }
    });
</script>
