
<script type="text/javascript">
  function checkAll(){
     var x = document.getElementById("chk0").checked;
		if (x==true){
			$(".chk").attr('checked',true);
			 $("#btn_multiple_delete").removeAttr("disabled");
			 $("#btn_multiple_download").removeAttr("disabled");
		}
		else{
			$(".chk").attr('checked',false);
			$("#btn_multiple_delete").attr("disabled", "disabled");
			$("#btn_multiple_download").attr("disabled", "disabled");
		}
}


	function checked_box() {
		var numberOfCheckboxes = document.getElementsByName("check[]")
		var flag = false
		var x = 0
		for (var i = 0; i<numberOfCheckboxes.length; i++){
			if (numberOfCheckboxes[i].checked) {
				flag = true;
				break
			}
		}
		for (var i = 0; i<numberOfCheckboxes.length; i++){
			if (numberOfCheckboxes[i].checked) {
				x++;
			}
		}
		if (flag == true){
			document.getElementById("chk0").checked = false
			<% if Folder.where(:id => params[:id], :user_id => current_user.id).exists?%>
				document.getElementById("btn_multiple_delete").disabled = false
			<%end%>
			document.getElementById("btn_multiple_download").disabled = false
		}
		if (flag == false){
			document.getElementById("chk0").checked = false
			<% if Folder.where(:id => params[:id], :user_id => current_user.id).exists?%>
				document.getElementById("btn_multiple_delete").disabled = true
			<%end%>
			document.getElementById("btn_multiple_download").disabled = true
		}
		if(x == numberOfCheckboxes.length){
			document.getElementById("chk0").checked = true
		}
	}

</script>

<h1>Folder details</h1>
<%= form_tag folder_path(@folder), :method => 'get',:id => "search_folder" do %>

  <p class="span2">
    <label style="float:left">Filename </label>
    <input id="search" class="tf-search" type="text" name="search">
    <%= submit_tag "Search", :attach_file_name => nil , class: "btn  btn-primary" %>
  </p>
<% end %>

	<br/>

	<div class="row">

	<br/>
		<table class="table table-hover">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Category</th>
			<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
				<th>Upload</th>
			<%end%>
			<th>Download folder(as ZIP file)</th>
		</tr>
		<tr>
			<td><%= @folder.name %></td>
			<td><%= @folder.description %></td>
			<td><%= Category.where(:id => @folder.category_id).first.name %></td>
			<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
			<td><a href="/filestreams/?folder_id=<%=@folder.id%>">Upload file</a></td>
			<%end%>
			<td><a href="/folders/<%=@folder.id%>/folder_download">Download</a></td>
		</tr>
		<% if signed_in? %>
		<tr>
			<th></th>
			<th>Children Name</th>
			<th>Description</th>
		</tr>
		<% Folder.where(:parentID => @folder.id).each do |child| %>
			<tr>
				<td></td>
				<td><a href="/folders/<%= child.id %>"><%= child.name%></a></td>
				<td><%=child.description%></td>
			</tr>
		<%end%>
		<%end%>
	</table>

	<div id="searchajax">
		<%= render 'show'%>
	</div>
	<%= will_paginate @uploads %>
</div>
	<%= hidden_field_tag :page, :value => params[:page] %>
	<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
		<p><a href="/foldersharings/?folder_id=<%=@folder.id%>">Share folder to members</a></p>
		<p><a href="/folders/<%=@folder.id%>/folder_child">Create folder child</a></p>
	<%end%>

<style type="text/css">
input.tf-search{
    width: 200px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;

}
p.span2{
    width: 400px;

}
</style>
