
<script type="text/javascript">
  function call(){
     var x = document.getElementById("chk0").checked;
		if (x==true){
			$(".chk").attr('checked',true);
		}
		else{
			$(".chk").attr('checked',false);
		}
}
</script>


<h1>Folder details</h1>

<%= form_tag folder_path(@folder), :method => 'get',:id => "search_folder" do %>

  <p class="span2">
    <label style="float:left;">Files Name </label>
    <input id="search" class="tf-search" type="text" name="search">
    <%= submit_tag "Search", :attach_file_name => nil , class: "btn  btn-primary" %>
  </p>
<% end %>

	<br/>
	<div class="row">

	<br/>
		<table class="table table-hover">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Category</th>
			<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
				<th>Upload</th>
			<%end%>
			<th>Download folder(as ZIP file)</th>
		</tr>
		<tr>
			<td><%= @folder.name %></td>
			<td><%= @folder.description %></td>
			<td><%= Category.where(:id => @folder.category_id).first.name %></td>
			<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
			<td><a href="/filestreams/?folder_id=<%=@folder.id%>">Upload file</a></td>
			<%end%>
			<td><a href="/folders/<%=@folder.id%>/folder_download">Download</a></td>
		</tr>
		<tr>
			<th></th>
			<th>Children Name</th>
			<th>Description</th>
		</tr>
		<% Folder.where(:parentID => @folder.id).each do |child| %>
			<tr>
				<td></td>
				<td><a href="/folders/<%= child.id %>"><%= child.name%></a></td>
				<td><%=child.description%></td>
			</tr>
		<%end%>
	</table>

	<div id="searchajax">
		<%= render 'show'%>
	</div>

<%= will_paginate @uploads %>

	 <%= hidden_field_tag :page, :value => params[:page] %>
		<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
			<p><a href="/foldersharings/?folder_id=<%=@folder.id%>">Share folder to members</a></p>
			<P><a href="/folders">Go to Folders</a></p>
			<p><a href="/folders/<%=@folder.id%>/folder_child">Create folder child</a></p>
		<%end%>

<style type="text/css">
input.tf-search{
    width: 200px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
p.span2{
    width: 400px;

}
</style>
