<h1 style="color:blue"><%= @folder.name%></h1>

<p>Category:<%= link_to @folder.category.name ,{:action=>'show',:controller=>'categories',:id=>@folder.category.id} %></br>
</p>
<p>Created Date:<%=@folder.created_at%></br>
</p>
<p>Description:
	<%=@folder.description%>
</p>
<p>
<%=link_to 'Back',{:action=>'index'}%>
</p>