<h1>Folder details</h1>
<%= form_tag folder_path(@folder), :method => 'get',:id => "search_folder" do %>
  <p class="span2">

    <label style="float:left;">Files Name </label>
				<%= hidden_field_tag :user_id, params[:user_id] %>
				<%= hidden_field_tag :folder_id, params[:id] %>
				        <%= text_field_tag :search, params[:search], class: "tf-search" %>

    <%= submit_tag "Search", :attach_file_name => nil , class: "btn  btn-primary" %>
  </p><div id="folders"><%= render 'search' %></div>
<% end %>

<br></br><br></br>
<div class="row">
<div class="span9" id="div" title="title example">
	<table class="table table-hover">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Category</th>
			<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
			<th>Upload</th>
			<%end%>
		</tr>
		<tr>
			<td><%= @folder.name %></td>
			<td><%= @folder.description %></td>
			<td><%= Category.where(:id => @folder.category_id).first.name %></td>
			<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
			<td><a href="/filestreams/?folder_id=<%=@folder.id%>">Upload file</a></td>
			<%end%>
		<tr>
			<th><%= sortable "attach_file_name", "File Name"%></th>
			<th><%= sortable "attach_file_size", "File Size"%></th>
			<th><%= sortable "created_at", "Created Date"%></th>
			<th>Preview</th>
			<th>Download</th>
			<th><%= sortable "download_count", "Count Download"%></th>
			<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
				<th>Share file</th>
				<th>Delete</th>
			<%end%>
		</tr>
<% @uploads.each do |filestream|%>
		<tr>

			<td><%= filestream.attach_file_name %></td>
			<td><span><%= number_to_human_size(filestream.attach_file_size) %></span></td>
			<td><%= filestream.created_at.strftime("%m/%d/%Y") %></td>
			<% if filestream.attach_content_type.include? "image"%>
				<td>
					<span><a href="#previewModal-<%=filestream.id%>" data-toggle="modal"><%= image_tag("preview.jpeg",:size => "30x30", alt: "Preview") %></a></span>
				</td>
				<div id="previewModal-<%=filestream.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true" data>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="previewModalLabel"><%=filestream.attach_file_name%></h3>
					</div>

					  <div id="myCarousel" class="carousel slide">
					  	<ol class="carousel-indicators">
					  		
					  		 
					<li data-target="#previewModal" data-slide-to="0" class="active">
<div class="modal-body">
						
							<%= image_tag filestream.attach.url %>
						</div></li>
					
					
				</ol>
				 <div class="carousel-inner">
<div class="active item">…</div>
<div class="item">…</div>
<div class="item">…</div>
</div>


				</div>

					<div class="modal-body" height= "auto" width="auto">
						<%= image_tag filestream.attach.url %>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-large" onClick="location.href='/filestreams/<%=filestream.id%>/download'"><i class="icon-download icon-white"></i>Download</button>
					</div>
				</div>
			<%else%>
			<td></td>
			<%end%>

			<!--<%= link_to 'Download', download_filestream_path(filestream.id)%>-->
		<td><button type="button" onClick="location.href='/filestreams/<%= filestream.id%>/download'">Download</button></td>
		<td style="text-align: center;"> <%= filestream.download_count%></td>

			<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
				<%= form_for(Filesharing.new) do |f| %>
					<td><a href="#myModal-<%=filestream.id%>" role="button" class="open-addMembers btn btn-small" data-toggle="modal" >Share...</a></td>

						<div id="myModal-<%=filestream.id	%>"  class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data>
  						<div class="modal-header">
    						<h3 id="myModalLabel">List members</h3>
  						</div>
  						<div class="modal-body">
  							<%= f.hidden_field :folder_id, :value => params[:id]%>
    						<p><%= render 'file_share', f: f, file_id: filestream.id %></p>
  						</div>
  						<div class="modal-footer">
    						<button class="btn" data-dismiss="modal" aria-hidden="true" onClick="location.href='/folders/<%=@folder.id%>&?user_id=<%= current_user.id%>'">Close</button>
   							<%= f.submit 'Save changes', class: "btn btn-primary"%>
  						</div>
						</div>
				<%end%>
				<td><%= link_to 'Delete',delete_from_folder_filestream_path(filestream.id), data:{ confirm: "Are you sure?" } %></td>

			<%end%>
			<% end %>
		</tr>
		</tr>
	</table>
<%= will_paginate @uploads %>
 <%= hidden_field_tag :page, :value => params[:page] %>
<% if Folder.where(:user_id => current_user, :id => params[:id]).exists? %>
<p><a href="/foldersharings/?folder_id=<%=@folder.id%>">Share folder to members</a></p>
<P><a href="/folders">Go to Folders</a></p>
<%end%>
</div>
</div>

<style type="text/css">
input.tf-search{
    width: 200px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
p.span2{
    width: 400px;

}
</style>

<script>
   $.modal(data,
    {
      minWidth: 400,
      onShow: function(dialog){
        dialog.container.css({"height":"auto","width":"auto"});
      }
    });
</script>

