<% provide(:title, @folder.name)%>

<h1 style="color:blue"><%= @folder.name%></h1>

<div><h5 style="color:blue">Category:<%= @folder.category.name%></h5></br>
</div>
<div><h5 style="color:blue">Created Date:</h5><%=@folder.created_at%></br>
</div>
<div><h5 style="color:blue">Description:</h5>
	<%=@folder.description%>
</div>
<div><h5 style="color:red">Are you want modify the folder ?</h5>
  <b ><%= link_to 'Edit Folder |', edit_folder_path(@folder.id)%></b>
  <b ><%= link_to 'Delete Folder',@folder, method: :delete, data:{confirm:"Are you user you want to delete this item?"}%>
</div>
<div class="listUser">
<table class="tb-lst", border="1">
  <tr align="center">
   
    <th>File_Id</th>
    <th>File Name</th>
    <th>File Type</th>
    <th>File Size(Bytes)</th> 
    <th>Date Created</th>
    <th></th>
    <th></th>
  </tr>

<% @folder.file_up_loads.each do |f| %>
  <tr align="center">
    
    <td><%= f.id %></td>
    <td><%= f.attach_file_name %></td>
    <td><%= f.attach_content_type %></td>
    <td><%= f.attach_file_size %></td>
    <td><%= f.created_at %></td>
    <td><%= link_to 'Download File',download_file_up_load_path(f.id)%></td>
   
    <td><%= link_to 'Delete',f,method: :delete,data:{confirm: "Are you sure you want to delete this item?"}%></td>                                                        
  
    <%end%>
  </tr>
</table>
</div>
<div>
</div>

<div class="btn">
<%=link_to 'Back',folders_path %>
</div>
<div class="btn"> 
  
  <%=link_to 'Add File',{:action=>'new',:controller=>'file_up_loads',:id=>@folder.id}%>
</div>